<!--The whole content below can be removed with the new code.-->
<div class="col-xs-12">
  <div class="row">
    <div class="col-md-12">
      <a routerLink="/routingcheck">Routing Check</a> |
      <a routerLink="/simpledrag">Simple Drag Drop</a> |
      <a routerLink="/typecheckdrag">Type Check Drag</a>
    </div>
  </div>
  <div class="row">
    <h1>
      {{title}}
    </h1>
  </div>
  <router-outlet></router-outlet>
</div>
